<article class="question-container">
  <h2 class="answers-title">{{ title }}</h2>
  <div class="answers-container">
    <app-checkbox
      *ngFor="let answer of answers; index as i"
      [label]="answer.label"
      [value]="answer.value"
      [questionId]="id"
      [name]="name"
      [id]="i"
      [(selected)]="selected"
      (selectedChange)="propagateChange($event)"
      (change)="setTimer()"
    />
  </div>
  <p *ngIf="answerDate">Vous avez répondu en {{ answerDate | convertTime }} secondes.</p>
</article>
