.field-container {
  display: grid;
  gap: 8px;
}

.field-label {
  color: #3e3ea2;
  font-weight: 600;
}

.field-input {
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  background-color: #f9f9fb;
  padding: 8px 16px;
  transition-property: border-color;
  transition-duration: .1s;

  @media (hover: hover) {
    &:hover {
      border-color: #c4c4c4;
    }
  }
}
