@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap);

html{
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body{
  background-color: #f9f9fb;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--neutral-color-7);
  text-rendering : optimizeLegibility;
  font-synthesis: none;
  direction: ltr;
}

.heading-1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.page-container {
  display: grid;
  gap: 24px;
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

.form-container {
  display: grid;
  gap: 16px;
  border-radius: 4px;
  background-color: #fff;
  padding: 16px;
}

.link-button {
  display: inline-block;
  border-radius: 2px;
  background-color: #169ad3;
  padding: 8px;
  color: #fff;

  &.secondary {
    border: 1px solid #169ad3;
    background-color: unset;
  }
}

