<main class="page-container">
  <h1 class="heading-1">Quiz IFSCL</h1>
  <p>Ce quiz à pour objectif de tester vos connaissance sur l'IFSCL, un fan-game sur basant sur l'univers de Code Lyoko.</p>
  <hr class="hr">
  <form id="search-form" [formGroup]="searchForm" class="search-container" (submit)="performSearch()">
    <app-input-field name="search-input" type="search" label="Recherche" formControlName="search" placeholder="Version" />
    <app-button type="submit">Rechercher</app-button>
    <app-button *ngIf="searchForm.value.search !== '' || categoriesService.categories.length !== 3" (click)="clearForm()">Clear</app-button>
  </form>
  <h2 class="heading-2">Catégories</h2>
  <ul *ngIf="categoriesService.categories.length; else empty" class="categories-container">
    <app-category-button
      *ngFor="let category of categoriesService.categories"
      [category]="category"
     ></app-category-button>
  </ul>
  <ng-template #empty>
    <p class="empty">Aucun catégorie n'a été trouvé</p>
  </ng-template>
<!--  <p>-->
<!--    <a [routerLink]="['/quiz']" class="link-button">-->
<!--      Commencer le quiz-->
<!--    </a>-->
<!--  </p>-->
</main>
