.questions-container {
  display: grid;
  gap: 16px;
}
.categories-container {
  display: grid;
  gap: 8px;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: flex-end;
}
